.header {
    border-bottom: 1px solid var(--color-text-header-line);
}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


@media screen and (min-width: 768px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding-left: 128px;
        padding-right: 128px;
    }
}