.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-text-header-line);
    bottom: 0;
}