.registrationBtn {
    border: none;
    border-radius: 30px;
    background-color: var(--main-color);

    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: var(--background-color-home);

    /* tablet */
    padding: 8px 16px;
    min-width: 134px;

    /* desktop */
    /* 
        padding: 14px 40px;
        min-width: 171px;
        font-size: 16px;
     */
}