.container {
    display: flex;
    align-items: center;
}

.container::after {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-text-header-line);
}