.text {
    font-weight: 500;
    line-height: 1.29;
    color: var(--color-text-filter);
    margin-bottom: 8px;
}

.filtersBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 14px;
    padding: 16px 18px;
    min-width: 226px;
    background-color: var(--main-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--background-color-home);

    transition: background-color 250ms linear;
}

.filtersBtn:hover,
.filtersBtn:focus {
    background-color: var(--color-focus);
}

.icon {
    width: 20px;
    height: 20px;
}