.wrapperLogo {
    position: relative;
}

.wrapperLogo:hover .wrapperThemePopover,
.logo:focus .wrapperThemePopover {
    opacity: 1;
    visibility: visible;
}

.wrapperThemePopover {
    opacity: 0;
    visibility: hidden;

    transition:
        opacity 250ms linear,
        visibility 250ms linear;
}

.logo {
    display: block;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-text);
}

.logoAppBar {
    font-size: 18px;
    padding: 24px 0;
}

.logoNavigationModal {
    position: absolute;
    top: 24px;
    left: 16px;
    font-size: 18px;
    padding: 0;
}

.acceptColorGreen {
    color: var(--main-color);
}

.acceptWeight500 {
    font-weight: 500;
}

.acceptWeight700 {
    font-weight: 700;
}

@media screen and (min-width: 1440px) {
    .logo {
        font-size: 20px;
    }
}