.logo {
    display: block;
    font-weight: 600;
    padding: 24px 0;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-text);
}

.acceptColorGreen {
    color: var(--main-color);
}

.acceptWeight500 {
    font-weight: 500;
}

.acceptWeight700 {
    font-weight: 700;
}

@media screen and (min-width: 1440px) {
    .logo {
        font-size: 20px;
    }
}