    .wrapperLinks {
        display: none;
    }

    @media screen and (min-width: 768px) {

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .wrapperLinks {
            display: flex;
            column-gap: 20px;
            line-height: 1.25;
            letter-spacing: -0.01em;
        }

        .link {
            position: relative;
            color: inherit;
            padding-top: 24px;
            padding-bottom: 24px;
        }

        .activeLink::before {
            content: "";
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--main-color);
            left: 50%;
            transform: translateX(-50%);
            bottom: 14px;
        }
    }

    @media screen and (min-width: 1440px) {
        .navigation {
            flex-basis: 536px;
        }

        .wrapperLinks {
            column-gap: 40px;
            font-size: 16px;
        }

        .link {
            padding-top: 38px;
            padding-bottom: 38px;
        }

        .activeLink::before {
            bottom: 26px;
        }
    }