    .wrapperLinksAppBar {
        display: none;
    }

    .wrapperLinksNavModal {
        display: flex;
        flex-direction: column;
        gap: 24px;

        align-items: start;
    }

    .link {
        position: relative;
        color: inherit;
        font-size: 30px;
    }

    .activeLink::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        background-color: var(--main-color);
    }

    @media screen and (max-width: 767px) {
        .navigation {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

        .activeLink::before {
            width: 10px;
            height: 10px;
            top: 50%;
            right: -20px;
            transform: translateY(-35%);
        }
    }

    @media screen and (min-width: 768px) {

        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }

        .wrapperLinksAppBar {
            display: flex;
            column-gap: 20px;
            line-height: 1.25;
            letter-spacing: -0.01em;
        }

        .link {
            padding-top: 24px;
            padding-bottom: 24px;
            font-size: 16px;
        }

        .activeLink::before {
            width: 8px;
            height: 8px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 14px;
        }
    }

    @media screen and (min-width: 1440px) {
        .navigation {
            flex-basis: 536px;
        }

        .wrapperLinksAppBar {
            column-gap: 40px;
            font-size: 16px;
        }

        .link {
            padding-top: 38px;
            padding-bottom: 38px;
        }

        .activeLink::before {
            bottom: 26px;
        }
    }