.container {
    padding-top: 60px;
    padding-bottom: 40px;
}

.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.text {
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text-invisible-05);
    margin-bottom: 30px;
}

.wrapperPsychologistInfo {
    display: grid;
    grid-template-columns: 44px 1fr;
    grid-template-areas:
        "avatar profession"
        "avatar name";
    gap: 4px 14px;
    margin-bottom: 30px;
}

.avatar {
    grid-area: avatar;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.profession {
    grid-area: profession;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--color-text-filter);
}

.name {
    grid-area: name;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapperInput {
    position: relative;
}

.input {
    width: 100%;
    border: 1px solid var(--color-text-header-line);
    border-radius: 12px;
    padding: 12px 18px;

    font-size: 14px;
    line-height: 1.25;
    color: var(--color-text);
}

.input::placeholder {
    color: var(--color-text-invisible-05);
}

.wrapperPhoneTime {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 8px;
}

.wrapperTime {
    position: relative;
}

.iconClock {
    pointer-events: none;
    width: 20px;
    height: 20px;
    fill: none;
    stroke: var(--color-text);

    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.wrapperTextarea {
    padding-bottom: 10px;
}

.textarea {
    resize: none;
    height: 116px;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 30px;
    padding: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;
    color: var(--background-color-home);

    background-color: var(--main-color);
    transition: background-color 250ms linear;
}

.btn:hover,
.btn:focus {
    background-color: var(--color-focus);
}

.btn:disabled {
    background-color: var(--color-text-inactive);
    cursor: not-allowed;
}

.error {
    position: absolute;
    top: calc(100% + 2px);
    right: 12px;

    font-size: 10px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: var(--color-error);
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 600px;
        padding: 64px;
    }

    .title {
        font-size: 40px;
    }

    .text {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 40px;
    }

    .wrapperPsychologistInfo {
        margin-bottom: 40px;
    }

    .form {
        gap: 16px;
    }

    .input {
        padding: 16px 18px;
        font-size: 16px;
    }

    .wrapperPhoneTime {
        grid-template-columns: 1fr 1fr;
    }

    .wrapperTextarea {
        padding-bottom: 24px;
    }
}